:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --blue: hsl(207, 33%, 53%);
    --azure: hsl(205, 44%, 58%);
    --light-blue: hsl(214, 47%, 81%);
    --icon-color: hsl(0, 0%, 38%);
    --backdrop-background: hsla(0, 0%, 0%, 0.4);
}

.active {
    color: var(--white);
    border-color: var(--white);
}
