.navLinks__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 1rem;
    color: var(--white);
}

.navLinks__item {
    text-align: center;
    flex-grow: 1;
    width: 1px;
}
.navLinks__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: var(--h5);
    border-bottom: 2px transparent solid;
    color: var(--light-blue);
    text-decoration: none;
}
.navLinks__link:hover {
    border-color: var(--white);
    color: var(--white);
}
