.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--white);
}
.search__form {
    flex-grow: 1;
}
.search__input {
    width: 100%;
    padding: 2px;
    border-color: transparent;
    font-size: var(--h3);
}

.search__input:focus {
    outline: none;
}
